# Source files
src/

# Configuration files
.github/
.husky/
.prettierrc.json
.prettierignore
eslint.config.mjs
tsconfig.json
vitest.config.ts

# Git files
.git/
.gitignore

# Documentation
CONTRIBUTING.md
CODE_OF_CONDUCT.md

# Development files
test/
node_modules/
pnpm-lock.yaml

# By default, .npmignore doesn't include the "files" field functionality
# of automatically including package.json, README.md, and LICENSE.
# These are included automatically.

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log* 

#assets
assets